.main-container {
    grid-template-areas: "intro" "main";
    grid-auto-columns: 1fr;
}

section#intro {
    grid-area: intro;
    background-color: #fff8dc;
    border: 0.5px solid goldenrod;
}


section#maintext {
    grid-area: main;
    background-color: cornsilk;
    border: 0.5px solid goldenrod;
}
